@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@font-face {
    font-family: 'star';
    src: url('./font/star.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f8f8ff;
    font-family: 'Lato', sans-serif;
}

.center{
    width: 800px;
    display: block;
    margin: 0px auto 0px auto;
    padding: 0px;
    overflow: auto;
}

.centerhome { 
    width: 560px;
    display: block;
    margin:auto;
}

.phone {
    margin: auto;
}

#background {
    position: relative;
    z-index: -99;
}

#weeklist, #week1, #week2,#week3, #week4, #week5, #week6, #week7, #week8 {
    position: absolute;
}

ul#weeklist, ul#week1, ul#week2, ul#week3, ul#week4, ul#week5, ul#week6, ul#week7, ul#week8 {
    list-style-type: none;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 5px;
    text-align: center;
    margin: 100px 10px 75px 10px;
}

a span {
    position: relative;
    text-align: center;
}



h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #272727;
}

h2, h3 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-weight: normal;
}

h3 {
    margin-top: 0px;
}

ol.notes {
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    color: #272727;
    margin: 30px auto 5px auto;
    list-style-type: upper-roman;
}

ul.notedetail {
    font-size: 18px;
    color: #272727;
    margin: 5px auto 5px auto;
    margin-bottom: 5px;
    font-family: 'Architects Daughter', sans-serif;
    width: 650px;
}

ul.notedetail li {
    padding-bottom: 5px;
}

p.heading {
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    color: #272727;
    text-align: center;
}

p.subheading {
    font-family: 'Lato', sans-serif;
    color: #272727;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
        display: grid;
        grid-template-columns: 120px 120px 120px;
        grid-template-rows: 120px 120px 120px;
        justify-content: center;
        width: 360px;
        margin: auto;
      }
      .board > div {
        border: 5px inset #fb9e25;
        font-size: 5em;
        text-align: center;
      }
    h1, h2 {
        text-align: center;
    }
    
    #one, #two, #three {
        border-top: none;
    }
    
    #one, #four, #seven {
        border-left: none;
    }
    
    #three, #six, #nine {
        border-right: none;
    }
    
    #seven, #eight, #nine {
        border-bottom: none;
    }
    
    #reset {
       box-shadow:inset 0px 1px 0px 0px #fce2c1;
	   background:linear-gradient(to bottom, #fa9519 5%, #fb9e25 100%);
	   background-color:#fa9519;
	   border-radius:9px;
	   border:2px solid #eeb44f;
	   display:inline-block;
	   cursor:pointer;
	   color:#ffffff;
	   font-family:Arial;
	   font-size:20px;
	   font-weight:bold;
	   padding:6px 23px;
	   text-decoration:none;
	   text-shadow:0px 1px 0px #cc9f52;
    }
    
    #reset:hover {
       background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	   background-color:#fb9e25;
    }
    
    #reset:active {
        position:relative;
	   top:1px;    
    }
    
    #buttondiv {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    #story_editor {
          width: 800px;
          height: 250px;
          background-color: lightsteelblue;
      }
      
      .story{
          background-color: lightslategray;
          font-weight: bold;
      }

.mainmenu, .sectionmenu, input#action  {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.mainmenu:hover, .sectionmenu:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.mainmenu:active, .sectionmenu:active {
	position:relative;
	top:1px;
}

.notes{
    width: 800px;
    background-image: url("./images/paper.jpg");
    background-repeat: repeat-y;
    background-position: center top;
    display: block;
    margin: 0px auto 0px auto;
    padding: 0px;
    overflow: auto;
}

.notestitle {
    font-family: 'Architects Daughter', sans-serif;
    font-weight: normal;
    text-decoration: underline;
}

.pressed:active {
   transform: scale(.9);
} 

.centerdiv {
    text-align: center;
}

img#hat {
    position: absolute;
    width: 5%;
}

 .tail {
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: green;
    }

body#ghost {
    height: 500px;
    background-color: black;
}

#ghost h1, #ghost h2, #ghost h3 {
    color: white;
}

p#hide {
    font-size: 150px;
    position: absolute;
}

#mountains th, #mountains td {
 padding-right: 15px; 
 padding-bottom: 2px;
 text-align: left;
}

#mountains th {
  text-align: left; border-bottom: 2px solid #111111;  
}

#mountains table {
    margin: auto;
}

.crossed {
    text-decoration: line-through;
    font-size: 18px;
    font-style: italic;
    margin-left: 10px;
}

.uncrossed {
    font-size: 18px;
    margin-left: 10px;
}


li.list {
    list-style-type: none;
    font-size: 20px;
}

#enteritems {
    font-size: 20px;
}

.fas.fa-plus-circle {
    font-size: 22px;
    color: green;
    position: relative;
    top: 2px;
    left: -10px;
}

.fas.fa-plus-circle:hover, .fas.fa-undo:hover {
    color:#4b78d6;
}

.fas.fa-undo {
    float: right;
}

.fa-circle {
    color: red;
    float: left;
    position: relative;
    top: 4px;
 
}

.fa-check-circle {
    color: green;
    float: left;
    position: relative;
    top: 4px;
}

.fas.fa-trash-alt {
    float:right;
}

.fas.fa-trash-alt:hover {
    color:#4b78d6;
}

input#todoitem {
    font-size: 18px;
    text-align: center;
    width: 250px;
}

fieldset#todoborder {
    border: 1px solid #4b78d6;
    border-radius: 10px;
    min-height: 350px;
    width: 700px;
    margin: auto;
}

legend#title {
    padding: 10px 100px 10px 100px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-weight: bold;
    border: 1px solid #4b78d6;
}

button#all, button#delete, button#act2, button#complete {
    font-family: 'Lato', sans-serif;
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(#62a6ed, #4b78d6); 
    text-decoration: none;
    margin-bottom: 25px;
}

button#all:hover, button#delete:hover, button#act2:hover, button#complete:hover {
    background-image: linear-gradient(#039bda, #036ec5);
}

button#all:focus, button#delete:focus, button#act2:focus, button#complete:focus {
    background-image: linear-gradient(#1aafee, #0484d9);
    border: none;
}

button#all:active, button#delete:active, button#act2:active, button#complete:active {
    transform: scale(.9);
}

ul#output {
    min-height: 230px;
    width: 280px;
    margin: 10px auto 10px auto;
    padding-left: 0px;
}

fieldset.contact label {
    float: left;
    text-align: left;
    font-family: 'Lato', sans-serif;
}

fieldset.contact {
    width: 300px;
    margin: auto;
    border-color: #33bdef;
}

#message {
    width: 379px;
}

fieldset.contact legend {
    font-family: 'Lato', sans-serif; 
}

#contact {
    font-size: 20px;
}

#contact a{
    text-decoration: none;
    color: inherit;
}

#contact a:hover{
    color: blue;
}

#quoteoutput {
    padding-top: 20px;
}

.hidden {
    display: none;
}

.myCanvas {
    border: dotted 2px black;
    margin: 0 20px;
}

svg {
    height: 200px;
}

#one:hover {
    transform: translateX(40px);
}

#two:hover {
    transform: scale(1.5);
}

#three:hover {
    transform: rotate(10deg);
}

#four {
    transform: skew(15deg, 4deg);
}

#five {
    width: 50px;
    height: 50px;
    background: red;
    transition: width 2s, height 2s, transform 2s;
    margin: auto;
}

#five:hover {
    width: 150px;
    height: 150px;
    transform: rotate(180deg);
}

#six {
    width: 50px;
    height: 50px; 
    background-color: red;
    position: relative;
    animation-name: five;
    animation-duration: 5s;
    animation-iteration-count: 3;
    animation-direction: alternate;
    margin:auto;
}

@keyframes five {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:100px; top:0px;}
    50%  {background-color:blue; left:100px; top:100px;}
    75%  {background-color:green; left:0px; top:100px;}
    100% {background-color:red; left:0px; top:0px;}
}

.sw {
    font-family: 'star', sans-serif;
    font-size: 75px;
    color: gold;
    -webkit-text-stroke: 1px black;
}

.sw2 {
    font-family: 'star', sans-serif;
    font-size: 40px;
    color: blue;
    margin-bottom: 5px;
}

.sw2:hover {
    text-decoration: underline;
}

#up, #down {
    transform: rotate(45deg);
    padding-left: 5px;
    padding-right: 5px;    
}

.star, .star2 {
    list-style-type: none;
}

.wars {
    margin-top: 5px;
}

.sw3 {
    font-family: 'star', sans-serif;
    font-size: 60px;
    color: blue;
    margin-bottom: 5px;
}


ul.wars {
    padding-left: 0px;
}

.star2 {
    font-size: 25px;
    margin-bottom: 5px;
}

figure {
    display:inline-grid;
}

figcaption {
    transform: rotate(-45deg) translateX(40px);

}

.regular {
    transform: none;
}






