@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
    background-color: #f8f8ff;
    font-family: 'Lato', sans-serif;
}

.center{
    width: 800px;
    display: block;
    margin: 0px auto 0px auto;
    padding: 0px;
    overflow: auto;
}

.centerhome { 
    width: 560px;
    display: block;
    margin:auto;
}

.phone {
    margin: auto;
}

#background {
    display: relative;
}

#weeklist, #week1, #week2,#week3, #week4, #week5 {
    position: absolute;
}

ul#weeklist, ul#week1, ul#week2, ul#week3, ul#week4, ul#week5 {
    list-style-type: none;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 5px;
    text-align: center;
    margin: 100px 10px 75px 10px;
}

a span {
    position: relative;
    text-align: center;
}



h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #272727;
}

h2, h3 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #272727
    font-weight: normal;
}

h3 {
    margin-top: 0px;
}

ol.notes {
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    color: #272727;
    margin: 30px auto 5px auto;
    list-style-type: upper-roman;
}

ul.notedetail {
    font-size: 18px;
    color: #272727;
    margin: 5px auto 5px auto;
    margin-bottom: 5px;
    font-family: 'Architects Daughter', sans-serif;
    width: 650px;
}

ul.notedetail li {
    padding-bottom: 5px;
}

p.heading {
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    color: #272727;
    text-align: center;
}

p.subheading {
    font-family: 'Lato', sans-serif;
    color: #272727;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
        display: grid;
        grid-template-columns: 120px 120px 120px;
        grid-template-rows: 120px 120px 120px;
        justify-content: center;
        width: 360px;
        margin: auto;
      }
      .board > div {
        border: 5px inset #fb9e25;
        font-size: 5em;
        text-align: center;
      }
    h1, h2 {
        text-align: center;
    }
    
    #one, #two, #three {
        border-top: none;
    }
    
    #one, #four, #seven {
        border-left: none;
    }
    
    #three, #six, #nine {
        border-right: none;
    }
    
    #seven, #eight, #nine {
        border-bottom: none;
    }
    
    #reset {
       box-shadow:inset 0px 1px 0px 0px #fce2c1;
	   background:linear-gradient(to bottom, #fa9519 5%, #fb9e25 100%);
	   background-color:#fa9519;
	   border-radius:9px;
	   border:2px solid #eeb44f;
	   display:inline-block;
	   cursor:pointer;
	   color:#ffffff;
	   font-family:Arial;
	   font-size:20px;
	   font-weight:bold;
	   padding:6px 23px;
	   text-decoration:none;
	   text-shadow:0px 1px 0px #cc9f52;
    }
    
    #reset:hover {
       background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	   background-color:#fb9e25;
    }
    
    #reset:active {
        position:relative;
	   top:1px;    
    }
    
    #buttondiv {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    #story_editor {
          width: 800px;
          height: 250px;
          background-color: lightsteelblue;
      }
      
      .story{
          background-color: lightslategray;
          font-weight: bold;
      }

.mainmenu, .sectionmenu {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.mainmenu:hover, .sectionmenu:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.mainmenu:active, .sectionmenu:active {
	position:relative;
	top:1px;
}

.notes{
    width: 800px;
    background-image: url("./images/paper.jpg");
    background-repeat: repeat-y;
    background-position: center top;
    display: block;
    margin: 0px auto 0px auto;
    padding: 0px;
    overflow: auto;
}

.notestitle {
    font-family: 'Architects Daughter', sans-serif;
    font-weight: normal;
    text-decoration: underline;
}

.pressed:active {
   transform: scale(.9);
} 

.centerdiv {
    text-align: center;
}

img#hat {
    position: absolute;
    width: 5%;
}

 .tail {
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: green;
    }

body#ghost {
    height: 500px;
    background-color: black;
}

#ghost h1, #ghost h2, #ghost h3 {
    color: white;
}

p#hide {
    font-size: 150px;
    position: absolute;
}

#mountains th, #mountains td {
 padding-right: 15px; 
 padding-bottom: 2px;
 text-align: left;
}

#mountains th {
  text-align: left; border-bottom: 2px solid #111111;  
}

#mountains table {
    margin: auto;
}

