h1 {
    background-color: salmon;
    padding: 25px 0px 25px 0px;
    text-align: center;
    width: 750px;
}

h2 {
    background-color: gold;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

body {
    width: 800px;
    display: block;
    margin: 0px auto 0px auto;
    padding: 0px;
    overflow: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.hidden {
    display: none;
}

.light {
    display: flex;
    align-items: center;
    
}

.light div {
    width 50%; 
}
